body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to right, indianred 40%, darkred 100%);
}

img {
    width: auto;
    height: 250px;
}

.galleryTitle {
    font-size: 5em;
    font-family: 'Pacifico', cursive;
    padding: 0.25em;
}
